/*CSS DOCUMENT*/


html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
	width: 80%;
    height: auto;
	display: block;
}

nav {
    display: inline;
    color: #242a60;
    text-decoration: none;
}

li a:hover {
color: #111;
}

body{
    color: #242a60;
    background-color: aliceblue;
}

 h1 {
        width:50%; /* you can use % */
        height: auto;
        align-items: left;
    }

    h2 {
        font-size: 3em;
        font-family: crayonette-djr, sans-serif;
        font-weight: 300;
        font-style: normal;
        border-top-width: 0.2rem; 
	    border-top-style: solid;
	    border-top-color: rgb(170, 28, 28);
    }

    h2 span { 	
        font-family: lust, serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1em;
    }

    h3 {
        font-size: 2em;
        margin: 4rem 2rem 0rem; 
        padding-top: 1em;
        font-family: crayonette-djr, sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    p.price {
        font-size: 2em;
        font-family: lust, serif;
        font-weight: 700;
        font-style: normal;
    }
    p.description {
        font-size: 1em;
        font-family: lust, serif;
        font-weight: 700;
        font-style: normal;
    }

    footer {
        background-color: #242a60;
        color: rgb(245, 245, 245);
        font-size:1em;
        padding: 1rem 2rem 1rem;
        font-family: lust, serif;
        font-weight: 700;
        font-style: normal;
    }



