/*CSS DOCUMENT*/


html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0,); 
    line-height: 140%;
    font-family: crayonette-djr, sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.container {
    max-width: 50em;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5em auto 3em;
}

 h1 {
        display: grid;
        grid-column: 1/3;
    }

    h2 {
        background-color: rgb(245, 245, 245);
        color: #242a60;
        font-size: 2em;
        padding: 0rem 2rem 2rem;
        font-family: crayonette-djr, sans-serif;
        font-weight: 300;
        font-style: normal;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    
    h3 {
        margin: 4rem 2rem 1rem; 
        padding-top: 0.5rem;
        font-size: 1.2em;
        color: #242a60;
        font-family: crayonette-djr, sans-serif;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 0.1em; 
        grid-column: 2/3;
        grid-row: 1/2;
    }

    h4 {
        margin: 4rem 2rem 1rem; 
        padding-top: 0.5rem;
        font-size: 1.2em;
        color: #242a60;
        font-family: lust, serif;
        font-weight: 700;
        font-style: normal;
        grid-column: 2/3;
        grid-row: 2/3;
    }


    footer {
        background-color: #242a60;
        color: rgb(245, 245, 245);
        font-size:1em;
        padding: 1rem 2rem 1rem;
        font-family: lust, serif;
        font-weight: 700;
        font-style: normal;
        grid-column:1/3;
    }

    @media screen and (min-width: 40em) {
        div.container {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 5em auto 3em;  
        }

        header, footer {
            grid-column: 1/3;
        }
    }
