/*CSS document*/

body {
    color: #111111;
}

figcaption {
    font-family: "owners-wide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.75em;
}

div.container {
    max-width: 80em;
    margin: 0 auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

h1 {
    width:20%
}

h2 {
    font-family: "operetta-12", serif;
    font-weight: 700;
    font-style: normal;   
}

h3 {
    font-family: "operetta-18", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}
.navbar { 
  width: 100%;
  overflow: auto;
}

.navbar a {
    color: #E26A5C;
    text-decoration: none;
    font-size: 1em;
    font-family: "owners", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: block;
}

.navbar li a{
    display: inline;
    padding: 1em;
}

p {
    font-family: "owners-wide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.87em;
}

footer { 
    width: 97%;
    background-color: #E26A5C;
    overflow: auto;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.87em;
    font-family: "owners", sans-serif;
    font-weight: 500;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #111111;
}

li{
    display: inline-block;
}

section{
    max-width: 40em;
    margin: 0 auto 3em;
}

aside{
    border-radius: 1em;
    background-color: #E26A5C;
    color: #FFFFFF;
    height: fit-content;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 0px;
}

@media only screen and (min-width: 60em){
    div.container{ 
        display:grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 1em;
    }
    header{
        grid-column: 1/3;
    }

    main{
        grid-column:1/2;   
        display: grid;
        grid-template-columns: repeat (3,1fr);
        grid-gap: 0 1em;
    }
    section.mainstory{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }

    section.mainstory figure {
        flex: 1 0 18em;
    }

    section.mainstory h3{
        flex: 0 0 auto;
        margin: 0;
    }

    section.mainstory p{
        flex: 0 0 auto;
        margin: 0;
    }

    aside{
        grid-column: 2/3;
    }
}
