/*CSS document*/

body {
    color: #111111;
}

figcaption {
    font-family: "owners-wide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.75em;
}

div.container {
    max-width: 60em;
    margin: 0 auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

figure {
    margin: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

img {
    width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1 {
    width:30%
}

h2 {
    font-family: "operetta-12", serif;
    font-weight: 700;
    font-style: normal;   
}

h3 {
    font-family: "operetta-18", serif;
    font-weight: 400;
    font-style: normal;
}
.navbar { 
  width: 100%;
  background-color: #E26A5C;
  overflow: auto;
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.75em;
    font-family: "owners", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: block;
}

navbar li a{
    display: inline;
}

p {
    font-family: "owners-wide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.87em;
}

footer { 
    width: 97%;
    background-color: #E26A5C;
    overflow: auto;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.87em;
    font-family: "owners", sans-serif;
    font-weight: 500;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #111111;
}

li{
    display: inline-block;
}

main{ 
    display: block;
}

aside{
    display: block;
}

section{
    max-width: 40em;
    margin: 0 auto 3em;
}

@media only screen and (min-width: 60em)
section.mainstory {
    grid-column: 1/4;
}

@media only screen and (min-width: 60em)
aside {
    grid-column: 6/8;
}
