/*CSS document*/

body {
    color: black;
}

figcaption {
    font-family: "owners-wide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.75em;
}

div.container {
    max-width: 40em;
    margin: auto;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1 {
    width:30%
}

h2 {
    font-family: "operetta-12", serif;
    font-weight: 700;
    font-style: normal;   
}

h3 {
    font-family: "operetta-18", serif;
    font-weight: 400;
    font-style: normal;
}
.navbar { 
  width: 100%;
  background-color: #E26A5C;
  overflow: auto;
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.75em;
    font-family: "owners", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 70% 70%;
    display: block;
}

navbar li a{
    display: inline;
}

p {
    font-family: "owners-wide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.87em;
}

footer { 
    width: 97%;
    background-color: #E26A5C;
    overflow: auto;
    padding: 70%;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.87em;
    font-family: "owners", sans-serif;
    font-weight: 500;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #111111;
}

li{
    display: inline-block;
}

main{ 
    display: grid;
    grid-column: 1/2;
}

aside{
    display: grid;
    grid-column: 2/3;
}
