/*CSS document*/

body {
    color: black;
}

figcaption {
    font-family: "owners-wide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

div.container {
    max-width: 40em;
    margin: auto;
    
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1 {
    width:30%
}

h2 {
    font-family: "operetta-12", serif;
    font-weight: 700;
    font-style: normal;   
}

h3 {
    font-family: "operetta-18", serif;
    font-weight: 400;
    font-style: normal;
}
.navbar { 
  width: 100%;
  background-color: #E26A5C;
  overflow: auto;
}

.navbar a {
    display: inline;
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-family: "owners", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 10px 10px;
}
p {
    font-family: "owners-wide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

footer { 
    width: 100%;
    background-color: #E26A5C;
    overflow: auto;
    padding: 12px 12px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-family: "owners", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.aside {
    text-decoration: none;
}
