/*CSS document*/

body {
}

div.container {
    max-width: 40em;
    margin: auto;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1 {
    width:30%
}

h2 {
    font-family: "operetta-12", serif;
    font-weight: 700;
    font-style: normal;   
}

h3 {
    font-family: "operetta-18", serif;
    font-weight: 400;
    font-style: normal;
}
.navbar { 
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
p{
    font-family: "owners-wide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

